
<div fxFlex.gt-sm="100%" >
    <!-- ///////////////////////////////////////////////////////////////////// -->
    <mat-card>
    <mat-card-content>
    
        <mat-card-title ><a routerLink="/add-user" mat-raised-button color="primary" >Ajouter Utilisateur</a></mat-card-title>
    <hr>
    
    
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche" autocomplete="off">
    </mat-form-field>
    
    
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
      <!--  Column -->
      <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nom}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <mat-header-cell *matHeaderCellDef> Prenom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.prenom}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
      </ng-container>
    
    
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef > Actions </mat-header-cell>
    
        <mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" >
                <mat-icon (click)="SupprimerUser(element.id,element.nom)" >delete</mat-icon>
              </button>
              <button mat-raised-button color="primary" >
                  <mat-icon  [routerLink]="['/edit-user',element.id,element.nom,element.prenom,element.email]" routerLinkActive="router-link-active" >edit</mat-icon>
                </button></mat-cell>
    
      </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    
    
       <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
    
    </mat-card-content>
    
    </mat-card>
    
    
      </div>
    