<div class="create-page">
    <mat-card>
        <mat-card-content>
        <mat-card-title ><nav aria-label="breadcrumb">

        <div class="breadcrumb-item active " aria-current="page">
          <h2>Modifier Utilisateur</h2>
        </div>

    </nav></mat-card-title>

    <div class="page-content">
      <div class="row">
          <form class="create-form" [formGroup]="ModForm" novalititre (ngSubmit)="onSubmit(id,ModForm.value.nom,ModForm.value.prenom,ModForm.value.email)">
            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput placeholder="Nom" class="form-control" formControlName="nom">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.nom">
                <mat-error
                  *ngIf="ModForm.get('nom').hasError(validation.type) && (ModForm.get('nom').dirty || ModForm.get('nom').touched)">
                  {{validation.message}}</mat-error>
              </ng-container>
            </div>
            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput placeholder="Prenom" class="form-control" formControlName="prenom" autocomplete="off">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.prenom">
                <mat-error
                  *ngIf="ModForm.get('prenom').hasError(validation.type) && (ModForm.get('prenom').dirty || ModForm.get('prenom').touched)">
                  {{validation.message}}</mat-error>
              </ng-container>
            </div>
            <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Email" class="form-control" formControlName="email" autocomplete="on">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.email">
                  <mat-error
                    *ngIf="ModForm.get('email').hasError(validation.type) && (ModForm.get('email').dirty || ModForm.get('email').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>

            <div class="row-md-12">
              <div class="col-md-12 text-center">
                <button mat-raised-button class="submit-button" color="primary" type="submit"
                  [disabled]="!ModForm.valid">Modifier</button>

              <button mat-raised-button class="button" color="warn" type="reset"
                [routerLink]="['/users']" routerLinkActive="router-link-active">Annuler</button>
              </div>
            </div>

          </form>        
      </div>
    </div>
    <div  *ngIf="error">
        <mat-error >
        Erreur : Utilisateur existe déja !!
      </mat-error>

    </div>
        </mat-card-content>
    </mat-card>



  </div>
